
/*GENERALI*/

* {
	box-sizing:border-box;
	margin:0px;
	padding:0px;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

/* FINE GENERALI*/
/* CONTAINER*/


.containerhead {
    height: 100px;
    width: 60%;
    margin: 15px auto;
}

.containerA {
    height: 400px;
    width: 60%;
    margin: 15px auto;
}

.containerB {
    height: 600px;
    width: 60%;
    margin: 15px auto;
}

.containerfoot {
    height: 50px;
    width: 60%;
    margin: 15px auto;
}

.sec2head {
    height: 10%;
    width: 100%;
}

.sec2as {
    margin-top:2%;
    margin-bottom: 2%;
    float: left;
    height: 84%;
    width: 20%;
}

.sec2main {
    margin-top: 2%;
    margin-right: 22px;
    margin-left: 22px;
    margin-bottom: 2%;
    float: left;
    height: 84%;
    width: 56%;
}

/* FINE CONTAINER*/
/* COLORI CONTAINER*/


.colheader {
    background-color: #e579e6;
}

.colsec1 {
    background-color: #e1d67a;
}

.colsec2 {
    background-color: #0983fc;
}

.colfoot {
    background-color: #8801fe;
}

.insidecolsec2 {
    background-color: #abcfe7;
}

/*FINE  COLORI CONTAINER*/

