
* {
	box-sizing:border-box;
	margin:0px;
	padding:0px;
}

.containerhead {
    height: 100px;
    width: 60%;
    margin: 15px auto;
}

.containerA {
    height: 400px;
    width: 60%;
    margin: 15px auto;
}


.colheader {
    background-color: #e579e6;
}

.colsec1 {
    background-color: #e1d67a;
}


